/* ACCORDION
ss-accordion {
  display: block;
  padding: var(--space-1);
  border: var(--col-border);
  margin: var(--space-1) auto;
  width: 100%;
}
ss-bellow { display: block; }
*/

/* BREADCRUMBS
.breadcrumbs {
  display: flex;
  flex-direction: row;
  a {
    cursor: pointer;
    font-weight: bold;
    background: #EEE;
    padding: 1rem 2rem;
    list-style-type: none;
    margin-right: -0.8rem;
    &:first-child {
      padding-left: 1.5rem;
      clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
    }
    &:not(:first-child) { clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%, 1rem 50%); }
    &:last-child {
      padding-right: 1.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 1rem 50%);
    }
    &:hover { background: #FFF; }
  }
}
.crumb { border: 1px dotted red; }
*/

/* BOX */
.box {
  color: var(--col-black);
  display: block;
  padding: 0 var(--space-1);
  border: var(--border);
  border-radius: var(--border-radius);
  margin: var(--margin);
  width: 100%;
}

/* SLIDESHOW */
ss-slideshow {
  display: block;
  margin: var(--margin);
}
/* ss-slide { } */
