@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
  --col-theme-hue: 184;
  --col-theme-light: hsl(var(--col-theme-hue), 49%, 40%);
  --col-theme: hsl(var(--col-theme-hue), 49%, 35%);
  --col-theme-dark: hsl(var(--col-theme-hue), 49%, 30%);
  --font-family-header: "Poppins", sans-serif !important;
  --font-family-content: "Poppins", sans-serif !important;
  --content-limit: 72ch;
  --show-side-nav: 0;
}

main.grid { grid-template-columns: repeat(1, 1fr); }
main.grid > .cell {
  display: flex;
  flex-direction: column;
}
main.grid > .cell:nth-child(2) {
  background: var(--col-theme);
  border-bottom: 0.1rem solid var(--col-theme);
  border-left: 0.1rem solid var(--col-theme);
  height: 50vh;
  overflow: hidden;
}
@media(min-width: 992px) {
  main.grid { grid-template-columns: repeat(2, 1fr); }
  main.grid > .cell { height: 50vh; }
}

.mw-65-ch { max-width: 65ch; }
.mw-75-ch { max-width: 75ch; }

.screenshot {
  position: absolute;
  border-radius: 0;
  width: 210px;
  min-height: 100%;
  top: -1%;
}
.screenshot:nth-child(even) { z-index: 1; }
.screenshot:nth-child(odd) { z-index: 0; }
.screenshot:nth-child(1) {
  left: -6%;
  transform: rotatez(-3deg);
}
.screenshot:nth-child(2) {
  left: 10%;
  transform: rotatez(1deg);
}
.screenshot:nth-child(3) {
  left: 29%;
  transform: rotatez(-2deg);
}
.screenshot:nth-child(4) {
  left: 44%;
  transform: rotatez(0);
}
.screenshot:nth-child(5) {
  left: 63%;
  transform: rotatez(2deg);
}
.screenshot:nth-child(6) {
  left: 81%;
  transform: rotatez(-2deg);
}

.tag {
  color: white;
  display: block;
  background: linear-gradient(90deg, #236267, #2F4172);
  padding: 0.5rem 0.625rem;
  border-radius: var(--border-radius);
  white-space: nowrap;
}
