#logo {
  top: 0vh !important;
}
#login-form {
  top: 1vh;
}
[class*='-login'] {
  grid-area: login;
}
[class*='-article'] {
  cursor: pointer;
  display: none;
  box-shadow: 0 0 0 0 grey;
  border: 0.1rem solid grey;
  border-radius: 0.3rem;
  transition: box-shadow 0.1s;
}
[class*='-article']:hover {
  box-shadow: 0 0 0 0.3rem grey;
}
[class*='simple-grid-article-s'] {
  grid-area: artia;
  display: block;
}
.simple-grid {
  display: grid;
  grid-template-areas:
  "login"
  "artia";
  grid-template-columns: 100%;
  grid-gap: 2rem;
  padding: 5rem;
  margin: auto;
  width: 100%;
  max-width: 60rem;
  overflow: auto !important;
}

@media(min-width: 35rem) {
  [class*='simple-grid-article-s'] {
    display: none;
  }
  .simple-grid {
    grid-template-areas:
    "artia login"
    "artib artic";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  [class*='simple-grid-article-m'] {
    display: block;
  }
  [class*='simple-grid-article-m-1'] {
    grid-area: artia;
  }
  [class*='simple-grid-article-m-2'] {
    grid-area: artib;
  }
  [class*='simple-grid-article-m-3'] {
    grid-area: artic;
  }
}

@media(min-width: 60rem) {
  .simple-grid {
    grid-template-areas:
    "artia login artib"
    "artic artid artie"
    "artif artig artih";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  [class*='simple-grid-article'] {
    display: block !important;
  }
  [class*='simple-grid-article']:nth-child(1) {
    grid-area: artia;
  }
  [class*='simple-grid-article']:nth-child(3) {
    grid-area: artib;
  }
  [class*='simple-grid-article']:nth-child(4) {
    grid-area: artic;
  }
  [class*='simple-grid-article']:nth-child(5) {
    grid-area: artid;
  }
  [class*='simple-grid-article']:nth-child(6) {
    grid-area: artie;
  }
  [class*='simple-grid-article']:nth-child(7) {
    grid-area: artif;
  }
  [class*='simple-grid-article']:nth-child(8) {
    grid-area: artig;
  }
  [class*='simple-grid-article']:nth-child(9) {
    grid-area: artih;
  }
}

.article-thumbnail {
  width: 100%;
}
.article-information {
  box-sizing: border-box;
  height: auto;
  padding: 1rem;
}
.article-url {
  display: none;
}
.article-title {
  color: #6B8DCF;
  font-size: 1.5rem;
}
.article-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
}
