@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
[id] { scroll-margin-top: var(--scroll-offset); }
:root {
  --col-theme-hue: 200;
  --font-family-header: "Poppins", sans-serif !important;
  --font-family-content: "Poppins", sans-serif !important;
  --content-limit: 75ch;
  --show-side-nav: 0;
}
body { letter-spacing: normal; }
main {
  max-width: var(--content-limit);
  padding: 1rem;
  margin: auto;
}
.tag {
  color: white;
  display: block;
  background: linear-gradient(90deg, #236267, #2F4172);
  padding: 0.5rem 0.625rem;
  border-radius: var(--border-radius);
  white-space: nowrap;
}
