/* Creative Commons Attribution-NonCommercial 4.0 International Public License */
[id] { scroll-margin-top: var(--scroll-offset); }
*, *::before, *::after { box-sizing: border-box; }
body {
  font-family: var(--font-family-content);
  font-kerning: normal;
  font-size: var(--font-size);
  display: block;
  margin: 0;
  margin-left: calc(var(--show-side-nav) * var(--side-nav-width));
}
nav, side-nav {
  background-color: var(--col-nav);
  color: white;
  font-family: var(--font-family-heading);
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
:is(nav, side-nav) :is(p, a) {
  color: inherit;
  display: block;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
}
:is(nav, side-nav) :is(p, a):hover { background: var(--col-theme-light); }
side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--side-nav-width);
}
side-nav::after {
  content: "👁"; /*U+1F441*/
  opacity: 0.2;
  background: var(--col-nav);
  position: absolute;
  bottom: 1rem;
  left: var(--side-nav-width);
  padding: 1rem;
}
side-nav:hover::after { opacity: 1; }
@media(max-width: 40rem) {
  :root { --show-side-nav: 0; }
  side-nav { transform: translateX(-100%); }
  side-nav:hover, side-nav:hover::after { transform: translateX(0); }
}
@media(min-width: 40rem) {
  nav { flex-direction: row; }
  side-nav::after { display: none; }
}
main, footer {
  display: block;
  width: 100%;
}
