body, body * {
  box-sizing: border-box;
}
body {
  background: var(--col-white);
  color: var(--col-black);
  font-family: var(--font);
  font-kerning: normal;
  font-size: var(--font-size);
  letter-spacing: 0.01rem;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100%;
  grid-template-areas:
  "navi"
  "main"
  "foot";
  margin: 0;
  transition: background-color var(--transition-time);
}

nav {
  user-select: none;
  background: var(--col-white);
  color: var(--col-black);
  border-bottom: 0.1rem solid var(--col-black);
  font-weight: bold;
  z-index: 100;
  &.sticky {
    position: sticky;
    top: 0;
  }
  display: flex;
  justify-content: space-between;
  grid-area: navi;
  padding: 0.5rem var(--space);
  width: 100%;
  div {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    div {
      background: var(--col-theme);
      position: absolute;
      top: 100%;
      right: -1px;
      display: none;
      border: 1px solid var(--col-theme);
      border-top: 0;
      flex-direction: column;
      &:hover { display: flex; }
    }
  }
  a {
    color: inherit;
    display: block;
    padding: 1rem;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    &:hover + div {
      display: flex;
    }
    &:hover, &.active {
    }
  }
}

main {
  grid-area: main;
  padding: 0 var(--space);
  margin: auto;
  width: 100%;
  max-width: var(--character-limit);
}

footer {
  background: var(--col-const-black);
  color: var(--col-const-white);
  display: block;
  grid-area: foot;
  width: 100%;
  div {
    margin: auto;
    max-width: var(--character-limit);
  }
}
