body, body * { box-sizing: border-box; }
body {
  background: var(--col-white);
  color: var(--col-black);
  font-family: var(--font);
  font-kerning: normal;
  font-size: var(--font-size);
  letter-spacing: 0.01rem;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100%;
  grid-template-areas:
  "navigation"
  "main"
  "footer";
  margin: 0;
  transition: background-color var(--transition-time), opacity 0.25s;
}

nav {
  user-select: none;
  font-weight: bold;
  color: var(--col-black);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  grid-area: navigation;
  width: 100%;
}
nav div {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  max-width: var(--content-limit);
}
nav a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: var(--space-1);
  white-space: nowrap;
}
nav a:hover { text-decoration: underline; }
nav a:hover + ul, nav a + ul:hover { display: block; }
nav a + ul {
  background: var(--col-white);
  position: absolute;
  top: 3rem;
  left: -2rem;
  box-shadow: 0 0 3px 1px var(--col-border);
  display: none;
  margin: 0;
  width: calc(100% + 4rem);
  text-align: center;
}
nav a + ul li { list-style-type: none; }
nav img {
  margin: 0;
  height: 3.2rem;
  width: auto;
}

main {
  grid-area: main;
  padding: 0 var(--space-1);
  margin: auto;
  width: 100%;
  max-width: var(--content-limit);
}
/*
main {
  display: grid;
  grid-template-columns: 1fr min(var(--character-limit), 100%) 1fr;
}
main > * {
  grid-column: 2;
}
.bleed {
  width: 100%;
  grid-column: 1 / -1;
}
*/

footer {
  position: relative;
  display: block;
  grid-area: footer;
  width: 100%;
}
footer div {
  margin: auto;
  max-width: var(--character-limit);
}

/*/ LEGACY /*/
