/* Creative Commons Attribution-NonCommercial 4.0 International Public License */
/* DISPLAY, SHOW AND HIDE */
.d-block, .block, .show { display: block; }
.d-contents, .contents, .show-contents { display: contents; }
.d-flex, .flex, .show-flex {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.flex-wrap { flex-wrap: wrap; }
.d-inline, .inline, .show-inline { display: inline; }
.d-inline-block, .inline-block, .show-inline-block { display: inline-block; }
.d-table, .table, .show-table { display: table; }
.d-none, .hide { display: none; }
.hide-children > * { display: none; }
.hide-sibling + * { display: none; }
/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
/* BUTTON */
.button {
  all: unset;
  cursor: pointer;
  background: var(--col-black);
  color: var(--col-white);
  display: inline-block;
  padding: 0.5rem;
  border: none;
  border-radius: var(--border-radius);
  outline: 0;
  width: auto;
  font-family: var(--font);
  font-size: var(--font-size);
  white-space: nowrap;
}
.button:hover { background: var(--col-theme-light); }
.button:focus { background: var(--col-theme-dark); }
/* LINE CLAMP */
.lc-1, .lc-2, .lc-3, .lc-4, .lc-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.lc-1 { -webkit-line-clamp: 1; }
.lc-2 { -webkit-line-clamp: 2; }
.lc-3 { -webkit-line-clamp: 3; }
.lc-4 { -webkit-line-clamp: 4; }
.lc-5 { -webkit-line-clamp: 5; }
/* BOX */
.box {
  display: block;
  padding: 0.5rem;
  padding-bottom: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: 0.5rem;
  width: 100%;
}
/* COLOURS - BACKGROUND */
.bg-const-black { background-color: var(--col-const-black); }
.bg-const-white { background-color: var(--col-const-white); }
.bg-black { background-color: var(--col-black); }
.bg-white { background-color: var(--col-white); }
.bg-theme-light { background-color: var(--col-theme-light); }
.bg-theme { background-color: var(--col-theme); }
.bg-theme-dark { background-color: var(--col-theme-dark); }
.bg-none { background: none !important; }
.bg-error { background-color: var(--col-error); }
/* COLOURS - TEXT */
.text-different {
  color: white;
  mix-blend-mode: difference;
}
.text-const-black { color: var(--col-const-black); }
.text-const-white { color: var(--col-const-white); }
.text-black { color: var(--col-black); }
.text-white { color: var(--col-white); }
.text-theme-light { color: var(--col-theme-light); }
.text-theme { color: var(--col-theme); }
.text-theme-dark { color: var(--col-theme-dark); }
.text-error { color: var(--col-error); }
/* COLOURS - TEXT - HOVER */
.text-black-hover:hover { color: var(--col-black); }
.text-white-hover:hover { color: var(--col-white); }
.text-theme-light-hover:hover { color: var(--col-theme-light); }
.text-theme-hover:hover { color: var(--col-theme); }
.text-theme-dark-hover:hover { color: var(--col-theme-dark); }
/* TEXT TRANSFORM */
.text-none { text-transform: none; }
.text-capitalise { text-transform: capitalize;; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
/* TEXT ALIGN */
.text-start { text-align: left; }
.text-middle { text-align: center; }
.text-end { text-align: right; }
.text-justify { text-align: justify; }
/* FLEX ALIGN */
.ac-start { align-content: flex-start; }
.ac-middle { align-content: center; }
.ac-end { align-content: flex-end; }
.ac-space-around { align-content: space-around; }
.ac-space-between { align-content: space-between; }
.ac-stretch { align-content: stretch; }
.jc-start { justify-content: flex-start; }
.jc-middle { justify-content: center; }
.jc-end { justify-content: flex-end; }
.jc-space-around { justify-content: space-around; }
.jc-space-between { justify-content: space-between; }
.jc-space-evenly { justify-content: space-evenly; }
.ai-start { align-items: flex-start; }
.ai-middle { align-items: center; }
.ai-end { align-items: flex-end; }
.ai-stretch { align-items: stretch; }
.ai-baseline { align-items: baseline; }
/* POSITION */
.position-absolute { position: absolute; }
.position-fixed { position: fixed; }
.position-relative { position: relative; }
.position-static { position: static; }
.position-sticky { position: sticky; }
/* Z-INDEX */
.zi-0 { z-index: 0; }
.zi-1 { z-index: 1; }
/* FONT WEIGHT */
.fw-inherit { font-weight: inherit; }
.fw-lighter { font-weight: lighter; }
.fw-normal { font-weight: normal; }
.fw-bold { font-weight: bold; }
.fw-bolder { font-weight: bolder; }
/* LIST */
.lst-none > li { list-style-type: none; }
.lst-circle > li { list-style-type: circle; }
.lst-square > li d{ list-style-type: square; }
/* FLOATS */
.float-none { float: none; }
.float-right { float: right; }
.float-left { float: left; }
/* INPUTS */
.floating-label {
  position: relative;
  width: 100%;
}
.floating-label > :is(input, select, textarea) {
  padding: 0.5rem;
  padding-top: 1.5rem;
}
.floating-label > input[type="color"] { height: 3.5rem; }
.floating-label > label {
  color: var(--col-const-black);
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  font-size: 85%;
}
.input-prefix, .input-suffix {
  z-index: -1;
  border: var(--border);
  margin: 0;
  width: auto;
  white-space: nowrap;
}
.input-prefix {
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  border-right: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  margin-right: -0.8rem;
}
.input-suffix {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  border-left: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  margin-left: -0.8rem;
}
/* WHITE SPACE */
.white-space-nowrap { white-space: nowrap; }
.white-space-pre { white-space: pre; }
/* CONTAINER */
.container, .container-full {
  padding: 1rem;
  width: 100%;
}
.container {
  margin: auto;
  max-width: var(--content-limit);
}
/* ROW / COLUMN */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--col-gap) * -1);
  margin-right: calc(var(--col-gap) * -1);
}
[class*="col-"] { padding: 0 var(--col-gap); }
.col-1 { width: 8.333333333333333%; }
.col-2 { width: 16.66666666666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333333333%; }
.col-5 { width: 41.66666666666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333333333333%; }
.col-8 { width: 66.66666666666666%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333333333%; }
.col-11 { width: 91.66666666666666%; }
.col-12 { width: 100%; }
@media(min-width: 300px) {
  .xs_col-1 { width: 8.333333333333333%; }
  .xs_col-2 { width: 16.66666666666667%; }
  .xs_col-3 { width: 25%; }
  .xs_col-4 { width: 33.33333333333333%; }
  .xs_col-5 { width: 41.66666666666667%; }
  .xs_col-6 { width: 50%; }
  .xs_col-7 { width: 58.33333333333333%; }
  .xs_col-8 { width: 66.66666666666666%; }
  .xs_col-9 { width: 75%; }
  .xs_col-10 { width: 83.33333333333333%; }
  .xs_col-11 { width: 91.66666666666666%; }
  .xs_col-12 { width: 100%; }
}
@media(min-width: 600px) {
  .sm_col-1 { width: 8.333333333333333%; }
  .sm_col-2 { width: 16.66666666666667%; }
  .sm_col-3 { width: 25%; }
  .sm_col-4 { width: 33.33333333333333%; }
  .sm_col-5 { width: 41.66666666666667%; }
  .sm_col-6 { width: 50%; }
  .sm_col-7 { width: 58.33333333333333%; }
  .sm_col-8 { width: 66.66666666666666%; }
  .sm_col-9 { width: 75%; }
  .sm_col-10 { width: 83.33333333333333%; }
  .sm_col-11 { width: 91.66666666666666%; }
  .sm_col-12 { width: 100%; }
}
@media(min-width: 900px) {
  .md_col-1 { width: 8.333333333333333%; }
  .md_col-2 { width: 16.66666666666667%; }
  .md_col-3 { width: 25%; }
  .md_col-4 { width: 33.33333333333333%; }
  .md_col-5 { width: 41.66666666666667%; }
  .md_col-6 { width: 50%; }
  .md_col-7 { width: 58.33333333333333%; }
  .md_col-8 { width: 66.66666666666666%; }
  .md_col-9 { width: 75%; }
  .md_col-10 { width: 83.33333333333333%; }
  .md_col-11 { width: 91.66666666666666%; }
  .md_col-12 { width: 100%; }
}
@media(min-width: 1200px) {
  .lg_col-1 { width: 8.333333333333333%; }
  .lg_col-2 { width: 16.66666666666667%; }
  .lg_col-3 { width: 25%; }
  .lg_col-4 { width: 33.33333333333333%; }
  .lg_col-5 { width: 41.66666666666667%; }
  .lg_col-6 { width: 50%; }
  .lg_col-7 { width: 58.33333333333333%; }
  .lg_col-8 { width: 66.66666666666666%; }
  .lg_col-9 { width: 75%; }
  .lg_col-10 { width: 83.33333333333333%; }
  .lg_col-11 { width: 91.66666666666666%; }
  .lg_col-12 { width: 100%; }
}
@media(min-width: 1500px) {
  .xl_col-1 { width: 8.333333333333333%; }
  .xl_col-2 { width: 16.66666666666667%; }
  .xl_col-3 { width: 25%; }
  .xl_col-4 { width: 33.33333333333333%; }
  .xl_col-5 { width: 41.66666666666667%; }
  .xl_col-6 { width: 50%; }
  .xl_col-7 { width: 58.33333333333333%; }
  .xl_col-8 { width: 66.66666666666666%; }
  .xl_col-9 { width: 75%; }
  .xl_col-10 { width: 83.33333333333333%; }
  .xl_col-11 { width: 91.66666666666666%; }
  .xl_col-12 { width: 100%; }
}
/* PADDING */
.p-0, .pt-0, .py-0 { padding-top: 0; }
.p-0, .pr-0, .px-0 { padding-right: 0; }
.p-0, .pb-0, .py-0 { padding-bottom: 0; }
.p-0, .pl-0, .px-0 { padding-left: 0; }
.p-1, .pt-1, .py-1 { padding-top: 0.5rem; }
.p-1, .pr-1, .px-1 { padding-right: 0.5rem; }
.p-1, .pb-1, .py-1 { padding-bottom: 0.5rem; }
.p-1, .pl-1, .px-1 { padding-left: 0.5rem; }
.p-2, .pt-2, .py-2 { padding-top: 1rem; }
.p-2, .pr-2, .px-2 { padding-right: 1rem; }
.p-2, .pb-2, .py-2 { padding-bottom: 1rem; }
.p-2, .pl-2, .px-2 { padding-left: 1rem; }
@media(min-width: 300px) {
  .xs_p-0, .xs_pt-0, .xs_py-0 { padding-top: 0; }
  .xs_p-0, .xs_pr-0, .xs_px-0 { padding-right: 0; }
  .xs_p-0, .xs_pb-0, .xs_py-0 { padding-bottom: 0; }
  .xs_p-0, .xs_pl-0, .xs_px-0 { padding-left: 0; }
  .xs_p-1, .xs_pt-1, .xs_py-1 { padding-top: 0.5rem; }
  .xs_p-1, .xs_pr-1, .xs_px-1 { padding-right: 0.5rem; }
  .xs_p-1, .xs_pb-1, .xs_py-1 { padding-bottom: 0.5rem; }
  .xs_p-1, .xs_pl-1, .xs_px-1 { padding-left: 0.5rem; }
  .xs_p-2, .xs_pt-2, .xs_py-2 { padding-top: 1rem; }
  .xs_p-2, .xs_pr-2, .xs_px-2 { padding-right: 1rem; }
  .xs_p-2, .xs_pb-2, .xs_py-2 { padding-bottom: 1rem; }
  .xs_p-2, .xs_pl-2, .xs_px-2 { padding-left: 1rem; }
}
@media(min-width: 600px) {
  .sm_p-0, .sm_pt-0, .sm_py-0 { padding-top: 0; }
  .sm_p-0, .sm_pr-0, .sm_px-0 { padding-right: 0; }
  .sm_p-0, .sm_pb-0, .sm_py-0 { padding-bottom: 0; }
  .sm_p-0, .sm_pl-0, .sm_px-0 { padding-left: 0; }
  .sm_p-1, .sm_pt-1, .sm_py-1 { padding-top: 0.5rem; }
  .sm_p-1, .sm_pr-1, .sm_px-1 { padding-right: 0.5rem; }
  .sm_p-1, .sm_pb-1, .sm_py-1 { padding-bottom: 0.5rem; }
  .sm_p-1, .sm_pl-1, .sm_px-1 { padding-left: 0.5rem; }
  .sm_p-2, .sm_pt-2, .sm_py-2 { padding-top: 1rem; }
  .sm_p-2, .sm_pr-2, .sm_px-2 { padding-right: 1rem; }
  .sm_p-2, .sm_pb-2, .sm_py-2 { padding-bottom: 1rem; }
  .sm_p-2, .sm_pl-2, .sm_px-2 { padding-left: 1rem; }
}
@media(min-width: 900px) {
  .md_p-0, .md_pt-0, .md_py-0 { padding-top: 0; }
  .md_p-0, .md_pr-0, .md_px-0 { padding-right: 0; }
  .md_p-0, .md_pb-0, .md_py-0 { padding-bottom: 0; }
  .md_p-0, .md_pl-0, .md_px-0 { padding-left: 0; }
  .md_p-1, .md_pt-1, .md_py-1 { padding-top: 0.5rem; }
  .md_p-1, .md_pr-1, .md_px-1 { padding-right: 0.5rem; }
  .md_p-1, .md_pb-1, .md_py-1 { padding-bottom: 0.5rem; }
  .md_p-1, .md_pl-1, .md_px-1 { padding-left: 0.5rem; }
  .md_p-2, .md_pt-2, .md_py-2 { padding-top: 1rem; }
  .md_p-2, .md_pr-2, .md_px-2 { padding-right: 1rem; }
  .md_p-2, .md_pb-2, .md_py-2 { padding-bottom: 1rem; }
  .md_p-2, .md_pl-2, .md_px-2 { padding-left: 1rem; }
}
@media(min-width: 1200px) {
  .lg_p-0, .lg_pt-0, .lg_py-0 { padding-top: 0; }
  .lg_p-0, .lg_pr-0, .lg_px-0 { padding-right: 0; }
  .lg_p-0, .lg_pb-0, .lg_py-0 { padding-bottom: 0; }
  .lg_p-0, .lg_pl-0, .lg_px-0 { padding-left: 0; }
  .lg_p-1, .lg_pt-1, .lg_py-1 { padding-top: 0.5rem; }
  .lg_p-1, .lg_pr-1, .lg_px-1 { padding-right: 0.5rem; }
  .lg_p-1, .lg_pb-1, .lg_py-1 { padding-bottom: 0.5rem; }
  .lg_p-1, .lg_pl-1, .lg_px-1 { padding-left: 0.5rem; }
  .lg_p-2, .lg_pt-2, .lg_py-2 { padding-top: 1rem; }
  .lg_p-2, .lg_pr-2, .lg_px-2 { padding-right: 1rem; }
  .lg_p-2, .lg_pb-2, .lg_py-2 { padding-bottom: 1rem; }
  .lg_p-2, .lg_pl-2, .lg_px-2 { padding-left: 1rem; }
}
@media(min-width: 1500px) {
  .xl_p-0, .xl_pt-0, .xl_py-0 { padding-top: 0; }
  .xl_p-0, .xl_pr-0, .xl_px-0 { padding-right: 0; }
  .xl_p-0, .xl_pb-0, .xl_py-0 { padding-bottom: 0; }
  .xl_p-0, .xl_pl-0, .xl_px-0 { padding-left: 0; }
  .xl_p-1, .xl_pt-1, .xl_py-1 { padding-top: 0.5rem; }
  .xl_p-1, .xl_pr-1, .xl_px-1 { padding-right: 0.5rem; }
  .xl_p-1, .xl_pb-1, .xl_py-1 { padding-bottom: 0.5rem; }
  .xl_p-1, .xl_pl-1, .xl_px-1 { padding-left: 0.5rem; }
  .xl_p-2, .xl_pt-2, .xl_py-2 { padding-top: 1rem; }
  .xl_p-2, .xl_pr-2, .xl_px-2 { padding-right: 1rem; }
  .xl_p-2, .xl_pb-2, .xl_py-2 { padding-bottom: 1rem; }
  .xl_p-2, .xl_pl-2, .xl_px-2 { padding-left: 1rem; }
}
/* BORDER */
.b-1, .bt-1, .br-1, .bb-1, .bl-1 {
  border-color: var(--col-border);
  border-radius: var(--border-radius);
}
.b-none { border: none; }
.b-0 { border-width: 0; }
.b-1 { border: var(--border); }
.bt-0 { border-top: 0; }
.bt-1 { border-top: var(--border); }
.br-0 { border-right: 0; }
.br-1 { border-right: var(--border); }
.bb-0 { border-bottom: 0; }
.bb-1 { border-bottom: var(--border); }
.bl-0 { border-left: 0; }
.bl-1 { border-left: var(--border); }
.b-r-0 { border-radius: 0; }
.b-r-1 { border-radius: var(--border-radius); }
.btl-r-1 { border-top-left-radius: var(--border-radius); }
.btr-r-1 { border-top-right-radius: var(--border-radius); }
.bbr-r-1 { border-bottom-right-radius: var(--border-radius); }
.bbl-r-1 { border-bottom-left-radius: var(--border-radius); }
/* MARGIN */
.m-a, .mt-a, .my-a { margin-top: auto; }
.m-a, .mr-a, .mx-a { margin-right: auto; }
.m-a, .mb-a, .my-a { margin-bottom: auto; }
.m-a, .ml-a, .mx-a { margin-left: auto; }
.m-0, .mt-0, .my-0 { margin-top: 0; }
.m-0, .mr-0, .mx-0 { margin-right: 0; }
.m-0, .mb-0, .my-0 { margin-bottom: 0; }
.m-0, .ml-0, .mx-0 { margin-left: 0; }
.m-1, .mt-1, .my-1 { margin-top: 0.5rem; }
.m-1, .mr-1, .mx-1 { margin-right: 0.5rem; }
.m-1, .mb-1, .my-1 { margin-bottom: 0.5rem; }
.m-1, .ml-1, .mx-1 { margin-left: 0.5rem; }
.m-2, .mt-2, .my-2 { margin-top: 1rem; }
.m-2, .mr-2, .mx-2 { margin-right: 1rem; }
.m-2, .mb-2, .my-2 { margin-bottom: 1rem; }
.m-2, .ml-2, .mx-2 { margin-left: 1rem; }
@media(min-width: 300px) {
  .xs_m-a, .xs_mt-a, .xs_my-a { margin-top: auto; }
  .xs_m-a, .xs_mr-a, .xs_mx-a { margin-right: auto; }
  .xs_m-a, .xs_mb-a, .xs_my-a { margin-bottom: auto; }
  .xs_m-a, .xs_ml-a, .xs_mx-a { margin-left: auto; }
  .xs_m-0, .xs_mt-0, .xs_my-0 { margin-top: 0; }
  .xs_m-0, .xs_mr-0, .xs_mx-0 { margin-right: 0; }
  .xs_m-0, .xs_mb-0, .xs_my-0 { margin-bottom: 0; }
  .xs_m-0, .xs_ml-0, .xs_mx-0 { margin-left: 0; }
  .xs_m-1, .xs_mt-1, .xs_my-1 { margin-top: 0.5rem; }
  .xs_m-1, .xs_mr-1, .xs_mx-1 { margin-right: 0.5rem; }
  .xs_m-1, .xs_mb-1, .xs_my-1 { margin-bottom: 0.5rem; }
  .xs_m-1, .xs_ml-1, .xs_mx-1 { margin-left: 0.5rem; }
  .xs_m-2, .xs_mt-2, .xs_my-2 { margin-top: 1rem; }
  .xs_m-2, .xs_mr-2, .xs_mx-2 { margin-right: 1rem; }
  .xs_m-2, .xs_mb-2, .xs_my-2 { margin-bottom: 1rem; }
  .xs_m-2, .xs_ml-2, .xs_mx-2 { margin-left: 1rem; }
}
@media(min-width: 600px) {
  .sm_m-a, .sm_mt-a, .sm_my-a { margin-top: auto; }
  .sm_m-a, .sm_mr-a, .sm_mx-a { margin-right: auto; }
  .sm_m-a, .sm_mb-a, .sm_my-a { margin-bottom: auto; }
  .sm_m-a, .sm_ml-a, .sm_mx-a { margin-left: auto; }
  .sm_m-0, .sm_mt-0, .sm_my-0 { margin-top: 0; }
  .sm_m-0, .sm_mr-0, .sm_mx-0 { margin-right: 0; }
  .sm_m-0, .sm_mb-0, .sm_my-0 { margin-bottom: 0; }
  .sm_m-0, .sm_ml-0, .sm_mx-0 { margin-left: 0; }
  .sm_m-1, .sm_mt-1, .sm_my-1 { margin-top: 0.5rem; }
  .sm_m-1, .sm_mr-1, .sm_mx-1 { margin-right: 0.5rem; }
  .sm_m-1, .sm_mb-1, .sm_my-1 { margin-bottom: 0.5rem; }
  .sm_m-1, .sm_ml-1, .sm_mx-1 { margin-left: 0.5rem; }
  .sm_m-2, .sm_mt-2, .sm_my-2 { margin-top: 1rem; }
  .sm_m-2, .sm_mr-2, .sm_mx-2 { margin-right: 1rem; }
  .sm_m-2, .sm_mb-2, .sm_my-2 { margin-bottom: 1rem; }
  .sm_m-2, .sm_ml-2, .sm_mx-2 { margin-left: 1rem; }
}
@media(min-width: 900px) {
  .md_m-a, .md_mt-a, .md_my-a { margin-top: auto; }
  .md_m-a, .md_mr-a, .md_mx-a { margin-right: auto; }
  .md_m-a, .md_mb-a, .md_my-a { margin-bottom: auto; }
  .md_m-a, .md_ml-a, .md_mx-a { margin-left: auto; }
  .md_m-0, .md_mt-0, .md_my-0 { margin-top: 0; }
  .md_m-0, .md_mr-0, .md_mx-0 { margin-right: 0; }
  .md_m-0, .md_mb-0, .md_my-0 { margin-bottom: 0; }
  .md_m-0, .md_ml-0, .md_mx-0 { margin-left: 0; }
  .md_m-1, .md_mt-1, .md_my-1 { margin-top: 0.5rem; }
  .md_m-1, .md_mr-1, .md_mx-1 { margin-right: 0.5rem; }
  .md_m-1, .md_mb-1, .md_my-1 { margin-bottom: 0.5rem; }
  .md_m-1, .md_ml-1, .md_mx-1 { margin-left: 0.5rem; }
  .md_m-2, .md_mt-2, .md_my-2 { margin-top: 1rem; }
  .md_m-2, .md_mr-2, .md_mx-2 { margin-right: 1rem; }
  .md_m-2, .md_mb-2, .md_my-2 { margin-bottom: 1rem; }
  .md_m-2, .md_ml-2, .md_mx-2 { margin-left: 1rem; }
}
@media(min-width: 1200px) {
  .lg_m-a, .lg_mt-a, .lg_my-a { margin-top: auto; }
  .lg_m-a, .lg_mr-a, .lg_mx-a { margin-right: auto; }
  .lg_m-a, .lg_mb-a, .lg_my-a { margin-bottom: auto; }
  .lg_m-a, .lg_ml-a, .lg_mx-a { margin-left: auto; }
  .lg_m-0, .lg_mt-0, .lg_my-0 { margin-top: 0; }
  .lg_m-0, .lg_mr-0, .lg_mx-0 { margin-right: 0; }
  .lg_m-0, .lg_mb-0, .lg_my-0 { margin-bottom: 0; }
  .lg_m-0, .lg_ml-0, .lg_mx-0 { margin-left: 0; }
  .lg_m-1, .lg_mt-1, .lg_my-1 { margin-top: 0.5rem; }
  .lg_m-1, .lg_mr-1, .lg_mx-1 { margin-right: 0.5rem; }
  .lg_m-1, .lg_mb-1, .lg_my-1 { margin-bottom: 0.5rem; }
  .lg_m-1, .lg_ml-1, .lg_mx-1 { margin-left: 0.5rem; }
  .lg_m-2, .lg_mt-2, .lg_my-2 { margin-top: 1rem; }
  .lg_m-2, .lg_mr-2, .lg_mx-2 { margin-right: 1rem; }
  .lg_m-2, .lg_mb-2, .lg_my-2 { margin-bottom: 1rem; }
  .lg_m-2, .lg_ml-2, .lg_mx-2 { margin-left: 1rem; }
}
@media(min-width: 1500px) {
  .xl_m-a, .xl_mt-a, .xl_my-a { margin-top: auto; }
  .xl_m-a, .xl_mr-a, .xl_mx-a { margin-right: auto; }
  .xl_m-a, .xl_mb-a, .xl_my-a { margin-bottom: auto; }
  .xl_m-a, .xl_ml-a, .xl_mx-a { margin-left: auto; }
  .xl_m-0, .xl_mt-0, .xl_my-0 { margin-top: 0; }
  .xl_m-0, .xl_mr-0, .xl_mx-0 { margin-right: 0; }
  .xl_m-0, .xl_mb-0, .xl_my-0 { margin-bottom: 0; }
  .xl_m-0, .xl_ml-0, .xl_mx-0 { margin-left: 0; }
  .xl_m-1, .xl_mt-1, .xl_my-1 { margin-top: 0.5rem; }
  .xl_m-1, .xl_mr-1, .xl_mx-1 { margin-right: 0.5rem; }
  .xl_m-1, .xl_mb-1, .xl_my-1 { margin-bottom: 0.5rem; }
  .xl_m-1, .xl_ml-1, .xl_mx-1 { margin-left: 0.5rem; }
  .xl_m-2, .xl_mt-2, .xl_my-2 { margin-top: 1rem; }
  .xl_m-2, .xl_mr-2, .xl_mx-2 { margin-right: 1rem; }
  .xl_m-2, .xl_mb-2, .xl_my-2 { margin-bottom: 1rem; }
  .xl_m-2, .xl_ml-2, .xl_mx-2 { margin-left: 1rem; }
}
/* GAP */
.g-0 { gap: 0; }
.g-1 { gap: 0.5rem; }
.g-2 { gap: 1rem; }
@media(min-width: 300px) {
  .xs_g-0 { gap: 0; }
  .xs_g-1 { gap: 0.5rem; }
  .xs_g-2 { gap: 1rem; }
}
@media(min-width: 600px) {
  .sm_g-0 { gap: 0; }
  .sm_g-1 { gap: 0.5rem; }
  .sm_g-2 { gap: 1rem; }
}
@media(min-width: 900px) {
  .md_g-0 { gap: 0; }
  .md_g-1 { gap: 0.5rem; }
  .md_g-2 { gap: 1rem; }
}
@media(min-width: 1200px) {
  .lg_g-0 { gap: 0; }
  .lg_g-1 { gap: 0.5rem; }
  .lg_g-2 { gap: 1rem; }
}
@media(min-width: 1500px) {
  .xl_g-0 { gap: 0; }
  .xl_g-1 { gap: 0.5rem; }
  .xl_g-2 { gap: 1rem; }
}

/* Creative Commons Attribution-NonCommercial 4.0 International Public License */
[id] { scroll-margin-top: var(--scroll-offset); }
*, *::before, *::after { box-sizing: border-box; }
body {
  font-family: var(--font-family-content);
  font-kerning: normal;
  font-size: var(--font-size);
  display: block;
  margin: 0;
  margin-left: calc(var(--show-side-nav) * var(--side-nav-width));
}
nav, side-nav {
  background-color: var(--col-nav);
  color: white;
  font-family: var(--font-family-heading);
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
:is(nav, side-nav) :is(p, a) {
  color: inherit;
  display: block;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
}
:is(nav, side-nav) :is(p, a):hover { background: var(--col-theme-light); }
side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--side-nav-width);
}
side-nav::after {
  content: "👁"; /*U+1F441*/
  opacity: 0.2;
  background: var(--col-nav);
  position: absolute;
  bottom: 1rem;
  left: var(--side-nav-width);
  padding: 1rem;
}
side-nav:hover::after { opacity: 1; }
@media(max-width: 40rem) {
  :root { --show-side-nav: 0; }
  side-nav { transform: translateX(-100%); }
  side-nav:hover, side-nav:hover::after { transform: translateX(0); }
}
@media(min-width: 40rem) {
  nav { flex-direction: row; }
  side-nav::after { display: none; }
}
main, footer {
  display: block;
  width: 100%;
}

/* Creative Commons Attribution-NonCommercial 4.0 International Public License */
/*
embed { }
object { }
param { }
source { }
*/

iframe, picture, form {
  display: block;
  width: 100%;
}

/* FORMS */
form { max-width: 100%; }
fieldset, legend {
  display: block;
  padding: 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
}
fieldset { min-width: 0; }
legend {
  margin: auto;
  white-space: nowrap;
}
label, output { white-space: nowrap; }
button, input, select, textarea {
  display: block;
  padding: 0.5rem;
  border: var(--border);
  border-radius: var(--border-radius);
  outline: 0;
  width: 100%;
  font-family: var(--font);
  font-size: var(--font-size);
  white-space: nowrap;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  background: var(--col-black);
  color: var(--col-white);
  width: auto;
}
:is(button, input, select, textarea):not(:disabled):hover { border-color: var(--col-theme-light); }
:is(button, input, select, textarea):not(:disabled):focus { border-color: var(--col-theme-dark); }
:is(button, input, select, textarea):disabled, :is(input, textarea)[readonly] {
  cursor: not-allowed;
  background: var(--col-fill);
}
:is(button, input[type="button"], input[type="reset"], input[type="submit"]):hover { background: var(--col-theme-light); }
:is(button, input[type="button"], input[type="reset"], input[type="submit"]):active { background: var(--col-theme-dark); }
/* TOGGLE INPUTS */
input:is([type="checkbox"], [type="radio"]) {
  appearance: none;
  position: relative;
  padding: 1rem;
  border: var(--border);
  margin: 0;
  height: 2rem;
  width: 2rem;
}
input:is([type="checkbox"], [type="color"], [type="radio"]:not(:checked)) { cursor: pointer; }
input[type="checkbox"]:checked::after, input[type="radio"]:checked::after {
  position: absolute;
  content: "✓";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="radio"] { border-radius: 100%; }
/* DATE INPUTS */
/* input::-webkit-calendar-picker-indicator { filter: invert(0.8); } */
/* OTHER INPUTS*/
input[type="color"] {
  background-color: inherit;
  height: 3rem;
}
input[type="range"]::-webkit-slider-thumb { cursor: pointer; }
/* optgroup { } */
option:empty { display: none; }
option:hover { background: var(--col-theme); }
datalist { display: none; }
/* select { } */
textarea {
  resize: vertical;
  min-height: 6rem;
  height: 6rem;
  max-height: 50vh;
}

/* MEDIA */
/* area { } */

audio {
  display: block;
  width: 100%;
}
canvas, figure { display: block; }
figure img {
  height: auto;
  max-height: 12rem;
  width: auto;
  max-width: 12rem;
}
figcaption {
  display: block;
  padding: 0.5rem;
  text-align: center;
}
img, video {
  display: block;
  margin: auto;
  width: 100%;
}
img { border-radius: var(--border-radius); }
/*
map { }
svg { }
g { }
track { }
*/

/* SECTIONS */
address {
  font-style: normal;
  width: 100%;
}

article, section, aside, footer { display: block; }

/*
header { }
hgroup { }
*/
h1, h2, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  font-family: var(--font-family-header);
  font-weight: var(--font-family-header-weight);
}
h1, .h1 { font-size: 150%; }
h2, .h2 { font-size: 140%; }
h3, .h3 { font-size: 130%; }
h4, .h4 { font-size: 120%; }
h5, .h5 { font-size: 110%; }
h6, .h6 { font-size: 100%; }

/* nav, side-nav { } */

/* TABLES */
table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}
caption {
  margin-bottom: 0.5rem;
  font-style: italic;
}
/*
colgroup { }
col { }
thead { }
*/
tbody tr:first-child td:first-child { border-top-left-radius: var(--border-radius); }
tbody tr:first-child td:last-child { border-top-right-radius: var(--border-radius); }
tbody tr:last-child td:first-child { border-bottom-left-radius: var(--border-radius); }
tbody tr:last-child td:last-child { border-bottom-right-radius: var(--border-radius); }
tbody td { border: var(--border); }
tbody tr:not(:last-child) td { border-bottom: 0; }
tbody td:not(:last-child) { border-right: 0; }
tbody td:empty { background: var(--col-empty); }
th {
  font-weight: var(--font-family-header-weight);
  text-align: center;
  white-space: nowrap;
}
th, td { padding: 0.5rem; }

/* TEXT */
a {
  color: var(--col-link);
  outline: 0;
}
a:focus-within { outline: 0.5rem; }
a:focus-visible { background-color: var(--col-marked); }
abbr, acronym {
  cursor: help;
  text-decoration: underline dotted;
}
blockquote, cite, q {
  display: block;
  width: 80%;
  font-style: italic;
  text-align: center;
}
:matches(blockquote, cite, q)::before { content: open-quote; }
:matches(blockquote, cite, q)::after { content: close-quote; }
code, kbd {
  background: var(--col-code);
  color: var(--col-black);
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
  padding: 0.1rem 0.25rem 0 0.25rem;
}
code {
  border-radius: var(--border-radius);
  -moz-tab-size: 4;
  tab-size: 4;
  white-space: pre;
}

/* data { } */
del, ins { text-decoration: none; }
del { background: var(--col-deleted); }
del::before { content: "[deletion start] "; }
del::after { content: " [deletion end]"; }
/* details { } */
dialog {
  z-index: 999;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 1rem;
  border: var(--border);
  margin: 0;
  transform: translate(-50%, -50%);
}
dialog::backdrop {}
/*
dl > dt { font-weight: bold; }
dl > dd { margin: 0 0 1rem 0.5rem; }
*/
em, i { font-style: italic; }
hr {
  border: 0;
  border-top: var(--border);
  margin: 0.5rem 0;
  width: 100%;
}
ins { background: var(--col-inserted); }
ins::before { content: "[insertion start] "; }
ins::after { content: " [insertion end]"; }
kbd {
  cursor: default;
  display: inline;
  border-radius: 3px;
  box-shadow: 0 2px 0 0 rgba(200, 200, 200, 50%);
}
kbd:hover { background-color: rgba(200, 200, 200, 50%); }
mark { background: var(--col-marked); }
mark::before { content: "[highlight start] "; }
mark::after { content: " [highlight end]"; }

meter, progress {
  display: block;
  width: 100%;
}
meter { height: 2rem; }
meter::-webkit-meter-bar {
  background: var(--col-black);
  border: 0;
}
meter::-webkit-meter-optimum-value { background: var(--col-theme); }
progress { appearance: none; }
progress::-webkit-progress-bar { background: var(--col-black); }
progress::-webkit-progress-value { background: var(--col-theme); }
ol, ul {
  padding-left: 1.75rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}
:is(ol, ul) :is(ol, ul) { margin-bottom: 0; }
li + li { padding: 0.25rem 0; }
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
}
pre { display: block; }
progress { cursor: progress; }
s, .strike { text-decoration: line-through; }
:is(s, .strike):hover { text-decoration: none; }
/*
samp { }
summary { }
*/
sub, .sub, sup, .sup { font-size: var(--font-size-script); }
sub, .sub { vertical-align: sub; }
sup, .sup { vertical-align: super; }
time { font-weight: bold; }
var { font-style: italic; }

/* OTHER */
canvas { }
menu { }
slot { }

/* NO STYLES
input[type="hidden"], noscript, script, template
*/

/* OBSOLETE AND DEPRECATED ELEMENTS, DO NOT USE THESE: acronym, applet, basefont, bgsound, big, blink, center, command, content, dir, element, font, frame, frameset, iamge, isindex, keygen, listing, marquee, menuitem, multicol, nextid, nobr, noembed, noframes, plaintext, shadow, spacer, strike, tt, xmp */

/* Creative Commons Attribution-NonCommercial 4.0 International Public License */
:root {
  /* CONSTANTS */
  --col-const-black: #111;
  --col-const-white: #FFF;
  /* THEME */
  --col-theme-hue: 336; /* DEFAULT = 336 */
  --col-theme-light: hsl(var(--col-theme-hue), 70%, 60%);
  --col-theme: hsl(var(--col-theme-hue), 70%, 50%);
  --col-theme-dark: hsl(var(--col-theme-hue), 70%, 40%);
  /* MISC */
  --col-black: var(--col-const-black);
  --col-white: var(--col-const-white);
  --col-alert: #FF6666;
  --col-code: #EEE;
  --col-nav: #111;
  --col-border: #DDD;
  --col-border-hover: var(--col-theme);
  --col-deleted: rgba(255, 0, 0, 0.6);
  --col-disabled: #CCC;
  --col-fill: #DDD;
  --col-link: var(--col-theme-dark);
  --col-focus: #DDD;
  --col-empty: #EEE;
  --col-text-code: #414A47;
  --col-hover: #CCC;
  --col-inserted: rgba(0, 255, 0, 0.6);
  --col-marked: var(--col-theme);
  --col-success: #6BD976;
  --col-error: #FF6666;
  /* FONT */
  --font-family-header: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  --font-family-header-weight: 500;
  --font-family-content: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  --font-family-code: "Courier New";
  --font-size: 16px;
  --font-size-script: 70%;
  --font-size-code: 100%;
  /* BOX */
  --border: 1px solid var(--col-border);
  --border-radius: 7px;
  --outline: 1px solid var(--col-theme);
  --outline-offset: 0.25rem;
  --scroll-offset: -0.5rem;
  /* OTHER */
  --show-side-nav: 1; /* BOOLEAN / 1 = YES / 0 = NO*/
  --side-nav-width: 10rem;
  --content-limit: 82ch;
  --at-duration: 0.1s; /* DEFAULT ANIMATION AND TRANSFORM DURATION*/
}

/* ADD .dark TO <html> TO CHANGE VARIABLES VALUES
.dark {
  --col-white: var(--col-const-black);
  --col-black: var(--col-const-white);
}
*/

::selection {
  background: var(--col-marked);
  color: var(--col-const-white);
}

/*
::-webkit-calendar-picker-indicator { filter: invert(1); }
::-webkit-outer-spin-button, ::-webkit-inner-spin-button { -webkit-appearance: none; }
*/
::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.2);
  width: 1rem;
}
::-webkit-scrollbar-track { background: none; }
::-webkit-scrollbar-thumb { background: var(--col-theme); }
::-webkit-scrollbar-thumb:hover { background: var(--col-theme-dark); }

/* PREFERENCES */
@supports(prefers-color-scheme: dark) {
  @media(prefers-color-scheme: dark) {
    :root {
      --col-white: var(--col-const-black);
      --col-black: var(--col-const-white);
    }
  }
}

@supports(prefers-reduced-motion: reduce) {
  @media(prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
  --col-theme-hue: 184;
  --col-theme-light: hsl(var(--col-theme-hue), 49%, 40%);
  --col-theme: hsl(var(--col-theme-hue), 49%, 35%);
  --col-theme-dark: hsl(var(--col-theme-hue), 49%, 30%);
  --font-family-header: "Poppins", sans-serif !important;
  --font-family-content: "Poppins", sans-serif !important;
  --content-limit: 72ch;
  --show-side-nav: 0;
}

main.grid { grid-template-columns: repeat(1, 1fr); }
main.grid > .cell {
  display: flex;
  flex-direction: column;
}
main.grid > .cell:nth-child(2) {
  background: var(--col-theme);
  border-bottom: 0.1rem solid var(--col-theme);
  border-left: 0.1rem solid var(--col-theme);
  height: 50vh;
  overflow: hidden;
}
@media(min-width: 992px) {
  main.grid { grid-template-columns: repeat(2, 1fr); }
  main.grid > .cell { height: 50vh; }
}

.mw-65-ch { max-width: 65ch; }
.mw-75-ch { max-width: 75ch; }

.screenshot {
  position: absolute;
  border-radius: 0;
  width: 210px;
  min-height: 100%;
  top: -1%;
}
.screenshot:nth-child(even) { z-index: 1; }
.screenshot:nth-child(odd) { z-index: 0; }
.screenshot:nth-child(1) {
  left: -6%;
  transform: rotatez(-3deg);
}
.screenshot:nth-child(2) {
  left: 10%;
  transform: rotatez(1deg);
}
.screenshot:nth-child(3) {
  left: 29%;
  transform: rotatez(-2deg);
}
.screenshot:nth-child(4) {
  left: 44%;
  transform: rotatez(0);
}
.screenshot:nth-child(5) {
  left: 63%;
  transform: rotatez(2deg);
}
.screenshot:nth-child(6) {
  left: 81%;
  transform: rotatez(-2deg);
}

.tag {
  color: white;
  display: block;
  background: linear-gradient(90deg, #236267, #2F4172);
  padding: 0.5rem 0.625rem;
  border-radius: var(--border-radius);
  white-space: nowrap;
}
