/*DISPLAY*/
.hide {
  display: none;
}
/*ALIGNMENT*/
.box-left {
  display: block;
  margin-right: auto;
}
.box-centre {
  display: block;
  margin: auto;
}
.box-right {
  display: block;
  margin-left: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-centre {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/*SEMANTICS*/
.bold, .important, .strong {
  font-weight: bold;
}
.deleted, .line-through, .strike{
  text-decoration: line-through;
}
.error{
  text-decoration-style: wavy;
}
.inserted, .underline{
  text-decoration: underline;
}
.italic, .italics{
  font-style: italic;
}
.subscript, .superscript{
  position: relative;
  font-size: 80%;
}
.subscript{
  bottom: -0.25em;
}
.superscript{
  top: -0.25em;
}
.strike-under{
  text-decoration: line-through underline;
}
