:root {
  --col-const-white: #FFF;
  --col-const-black: #111;
  --col-white: var(--col-const-white);
  --col-black: var(--col-const-black);

  --col-theme-default: #BE1349;
  --col-theme: #BE1349;
  --col-darker-theme: #9E123F; /*DARKER THAN --col-theme*/

  --col-deleted: rgba(255, 0, 0, 0.6);
  --col-disabled: #CCCCCC;
  --col-focus: purple;
  --col-hover: #DDDDDD;
  --col-inserted: rgba(0, 255, 0, 0.6);
  --col-marked: rgba(255, 255, 0, 0.6);
  --col-warned: #BB2B2B;

  --font:'Segoe UI';
  --font-size: 16px;
  --font-script-size: 70%;

  --space: 0.8rem;
  --inline-space: 0.1rem;
  --list-space: calc(var(--space) * 2);

  --border-radius: 0.2rem;
  --shadow: 0 0 0.2rem #000;

  --character-limit: 65ch;
  --ribbon-height: 1.5rem;
  --content-width: 65rem;
  --transition-time: 0.125s;
}

::-webkit-calendar-picker-indicator { filter: invert(0); }
:root {
  --col-white: var(--col-const-black);
  --col-black: var(--col-const-white);
}
@media(prefers-color-scheme: light) {
}
@media(prefers-color-scheme: dark) {
}
:disabled {
  cursor: not-allowed;
  background: var(--col-disabled);
}
::selection { background: var(--col-marked); }
/*
::-webkit-scrollbar { width: auto; }
::-webkit-scrollbar-track { background: #222; }
::-webkit-scrollbar-thumb {
  background: var(--col-white);
  //border-radius: var(--border-radius);
  //border-top-right-radius: 0;
  //border-bottom-right-radius: 0;
}
::-webkit-scrollbar-thumb:hover { background: var(--col-theme); }
*/
