:root {
  /* CONSTANTS */
  --col-const-black: #222;
  --col-const-white: #FFF;
  /* THEME */
  --col-theme-hue: 336; /* DEFAULT = 336 */
  --col-theme-light: hsl(var(--col-theme-hue), 70%, 60%);
  --col-theme: hsl(var(--col-theme-hue), 70%, 50%);
  --col-theme-dark: hsl(var(--col-theme-hue), 70%, 40%);
  /* MISC */
  --col-black: var(--col-const-black);
  --col-white: var(--col-const-white);
  --col-alert: #FF6666;
  --col-code: #EEE;
  --col-nav: #111;
  --col-border: #DDD;
  --col-border-hover: var(--col-theme);
  --col-deleted: rgba(255, 0, 0, 0.6);
  --col-disabled: #CCC;
  --col-fill: #DDD;
  --col-link: var(--col-theme);
  --col-focus: #DDD;
  --col-empty: #EEE;
  --col-text-code: #414A47;
  --col-hover: #CCC;
  --col-inserted: rgba(0, 255, 0, 0.6);
  --col-marked: var(--col-theme);
  --col-success: #6BD976;
  --col-error: #FF6666;
  /* FONT */
  --font-family-header: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  --font-family-header-weight: 500;
  --font-family-content: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  --font-family-code: "Courier New";
  --font-size: 16px;
  --font-size-script: 70%;
  --font-size-code: 100%;
  /* BOX */
  --border: 1px solid var(--col-border);
  --border-radius: 4px;
  --outline: 1px solid var(--col-theme);
  --outline-offset: 0.25rem;
  --scroll-offset: -0.5rem;
  /* OTHER */
  --show-side-nav: 1; /* BOOLEAN / 1 = YES / 0 = NO*/
  --side-nav-width: 10rem;
  --content-limit: 82ch;
  --at-duration: 0.1s; /* DEFAULT ANIMATION AND TRANSFORM DURATION*/
}

/* ADD .dark TO <html> TO CHANGE VARIABLES VALUES
.dark {
  --col-white: var(--col-const-black);
  --col-black: var(--col-const-white);
}
*/

::selection {
  background: var(--col-marked);
  color: var(--col-const-white);
}

/*
::-webkit-calendar-picker-indicator { filter: invert(1); }
::-webkit-outer-spin-button, ::-webkit-inner-spin-button { -webkit-appearance: none; }
*/
::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.2);
  width: 1rem;
}
::-webkit-scrollbar-track { background: none; }
::-webkit-scrollbar-thumb { background: var(--col-theme); }
::-webkit-scrollbar-thumb:hover { background: var(--col-theme-dark); }

/* PREFERENCES */
@supports(prefers-color-scheme: dark) {
  @media(prefers-color-scheme: dark) {
    :root {
      --col-white: var(--col-const-black);
      --col-black: var(--col-const-white);
    }
  }
}

@supports(prefers-reduced-motion: reduce) {
  @media(prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
  }
}
