//MIXINS
@mixin box($padding, $border, $margin){
  padding: $padding;
  border: $border;
  margin: $margin;
}
@mixin pos($top, $right, $bottom, $left){
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
/*FONT SIZE*/
.font-xs {
  font-size: 0.8em;
}
.font-s {
  font-size: 0.9em;
}
.font-m {
  font-size: 1em;
}
.font-l {
  font-size: 1.1em;
}
.font-xl {
  font-size: 1.2em;
}
/*DISPLAY*/
.hide {
  display: none;
}
/*ALIGNMENT*/
.box-left {
  display: block;
  margin-right: auto;
}
.box-centre {
  display: block;
  margin: auto;
}
.box-right {
  display: block;
  margin-left: auto;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-centre {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/*SEMANTICS*/
.bold, .important, .strong {
  font-weight: bold;
}
.deleted, .line-through, .strike{
  text-decoration: line-through;
}
.error{
  text-decoration-style: wavy;
}
.inserted, .underline{
  text-decoration: underline;
}
.italic, .italics{
  font-style: italic;
}
.subscript, .superscript{
  position: relative;
  font-size: 80%;
}
.subscript{
  bottom: -0.25em;
}
.superscript{
  top: -0.25em;
}
.strike-under{
  text-decoration: line-through underline;
}






/*TABS
@media(max-width: 30em){
  .tab-opt li{
    display: block;
    width: 100% !important;
  }
}
@media(min-width: 30em){
  .tab-opt li{
    display: inline-block;
  }
}
.tab-opt li{
  cursor: pointer;
  display: inline-block;
  padding: 1em 0.25em;
  margin-bottom: -1px;
  text-align: center;
}
.tabs div{
  overflow-y: auto;
  resize: vertical;
  padding: 0 1em !important;
  min-height: 10em;
  height: 20em;
  max-height: 30em;
}
.tabs div:last-child{
  text-align: left;
  direction: rtl;
}

*/

/*TEMPLATES*/
.accordion {
  > p {
    cursor: pointer;
    padding: var(--padding);
    border: var(--border);
    &:not(:first-child) {
      border-top: 0;
    }
    &.active {
      border-bottom: 0;
    }
  }
  > div {
    padding: var(--padding);
    border: var(--border);
    border-top: 0;
    &:not(.active) {
      display: none;
    }
  }
}
.apps{
  display: flex;
  justify-content: space-between;
  .app{
    background-color: #FFF;
    color: #222;
    padding: 0.5em 1em;
    width: 100%;
    &:not(:first-child){
      margin-left: 1em;
    }
    p{
      text-align: center;
    }
    img{
      margin-top: -0.5em;
      margin-left: -1em;
      width: calc(100% + 2em);
    }
    button{
      text-align: center;
      margin: auto;
      margin-left: -1em;
      margin-bottom: -0.5em;
      width: calc(100% + 2em);
    }
  }
}
.breadcrumbs{
  ul{
    li{
      display: inline;
      list-style-type: none;
      @include box(1em, 0, 0);
      &:not(:first-child){
        margin-left: 5em;
      }
      &:last-child{
        background-color: rgba(0, 0, 0, 0.25);
        font-weight: bold;
      }
    }
  }
}
.conversation {
  > p {
    background: #EEE !important;
    padding: var(--padding);
    width: auto;
    margin-bottom: 0.5rem;
    max-width: 75%;
  }
}
.preview{
  background-color: #fff;
  box-shadow: 0 0 0.1em #000;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  z-index: 999;
  top: 1.2em;
  left: 0;
  padding: 0.25em 0.25em;
  width: 20em;
}
.progress{
  display: none;
  position: absolute;
  transition: width 2.5s linear;
  top: 0;
  margin-top: -1.3em;
  margin-left: -1em;
  width: 0%;
  height: 2em;
}
.slideshow {
  img:nth-child(3) {
    width: 75% !important;
  }
}
.tabs {
  > .tab-options {
    display: flex;
    overflow-y: hidden;
    border-right: var(--border);
    border-left: var(--border);
    > [class*='tab-'] {
      user-select: none;
      cursor: pointer;
      list-style-type: none !important;
      padding: var(--padding);
      border: var(--border);
      border-right: 0;
      margin-left: 0;
      width: 100%;
      text-align: center;
      &:first-child {
        border-left: 0;
      }
      &.active {
        border-bottom: 0;
      }
    }
  }
  > div {
    display: none;
    padding: var(--padding);
    border: var(--border);
    border-top: 0;
    &.active {
      display: block;
    }
  }
}
.tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--content-gap);
  div:hover {
    transform: scale(1.025);
  }
}
.timeline{
  position: relative;
  padding-bottom: 1.9em;
  border-right: 2em solid rgba(0, 0, 0, 0.1);
  > .milestone{
    position: inherit;
    right: -0.25em;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em 1em;
    margin-top: 3.5em;
    &:first-child{
      margin-top: 2.5em;
    }
    > .title, time{
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      padding: 0.5em 1em;
    }
    > .title{
      top: -2.05em;
      left: 0em;
      margin: 0 !important;
    }
    > time{
      bottom: -1.9em;
      right: 1em;
    }
  }
}
.window{
  overflow-y: auto;
  background-color: #ddd;
  z-index: 20;
  position: absolute;
  @include pos(0, 0, 0, 0);
  height: 45em;
  max-height: 100%;
  width: 40em;
  max-width: 100%;
  padding: 1em 2em;
  margin: auto;
  > button#close-window{
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    width: 5em;
    padding: 1.1em;
  }
}
