body {
  background: var(--col-white);
  color: var(--col-black);
  font-family: var(--font);
  font-kerning: normal;
  font-size: var(--font-size);
  letter-spacing: 0.01rem;
  display: grid;
  margin: 0;
}

@media(min-width: 300px) {
  body {
    background: yellow !important;
  }
}

body, body * {
  box-sizing: border-box;
  transition: all var(--transition-time);
}

nav {
  user-select: none;
  font-weight: bold;
  &[class*='wide'] { background: var(--col-theme); }
  color: var(--col-white);
  z-index: 1;
  &[class*='stick'] {
    position: sticky;
    top: 0;
  }

  width: 100%;

  div {
    background: var(--col-theme);
    display: flex; //FALLBACK
    justify-content: space-between;
    flex-direction: row;
    padding: 0 0.2rem;
    margin: auto;
    max-width: var(--content-width);
  }
  ul {
    padding: 1rem 0;
    margin: 0;
    li {
      display: inline;
      padding: 1rem;
      list-style-type: none;
      &:hover {
        border-radius: 0;
      }
      &:hover, &.active { background: var(--col-black); }
      &.active:hover {
        padding: 1rem;
      }
      //&.warning:hover{ background-color: var(--col-warned); }
    }
  }
  a {
    color: inherit;
    padding: 1rem 0;
    text-decoration: none;
  }

  filter: drop-shadow(0 0 2px black);
}
@media(max-width: 30rem) { nav ul { padding: 0; li { display: block; } } }
@media(min-width: 30rem) {
  nav ul li {
    +li {
      margin-left: 0.1rem;
    }
    &.active {
      padding: var(--ribbon-height) 1rem;
      border-radius: var(--border-radius);
    }
  }
}

main {
  display: block; //FALLBACK
  margin: 0 auto;
  width: 100%;
  max-width: var(--width-chars);
  &[class*='wide'] { max-width: 100%; }
}

section {
  max-width: var(--character-limit);
}
