.breadcrumbs {
  ul li {
    display: inline;
    list-style-type: none;
    margin-right: 5em;
    &:last-child {
      background-color: rgba(0, 0, 0, 0.25);
      font-weight: bold;
    }
  }
}
.carousel {
  text-align: center;
  display: flex;
  width: auto;
  overflow: hidden;
}
.preview {
  background-color: #fff;
  box-shadow: 0 0 0.1em #000;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  z-index: 999;
  top: 1.2em;
  left: 0;
  padding: 0.25em 0.25em;
  width: 20em;
}
.slideshow img {
  display: block;
  margin: auto;
  height: 10rem;
  width: auto;
  &:not(:first-child) { display: none; }
}
