embed { }

iframe {
  background: var(--col-theme-alpha);
  display: block;
  border: 0;
  margin: var(--pad) auto;
  height: 50vh;
  width: 100%;
}

object { }

param { }

picture {
  display: block;
  margin: var(--pad) auto;
  width: 100%;
}

source { }
