area {

}
audio {
  display: block;
  margin: var(--pad) auto;
  width: 100%;
  max-width: var(--width-chars);
}
canvas {
  background: var(--col-back);
  display: block;
  margin: auto;
}
figure {
  position: relative;
  margin: var(--pad) auto;
  img, picture { margin: 0; }
}
figcaption {
  font-style: italic;
  padding: var(--pad);
  text-align: center;
}
img {
  display: block;
  margin: var(--pad) auto;
  width: 100%;
  max-width: var(--width-chars);
}
map {

}
svg {
  margin: auto;
  g {
    rect {

    }
    text {

    }
  }
}
track {

}
video {
  display: block;
  margin: var(--pad) auto;
  width: 100%;
  max-width: var(--width-chars);
}
