address {

}

article {
  display: block; //FALLBACK
}
article + article {
  border-top: 0.1rem solid var(--col-theme);
  margin-top: var(--space);
}

aside {
  display: block; //FALLBACK
}

footer {
  display: block; //FALLBACK
  padding: var(--space);
  margin: auto;
  text-align: center;
}

h1, h2, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: var(--space) auto;
  text-align: center;
}
h1 { font-size: 110%; }
h2 { font-size: 108%; }
h3 { font-size: 106%; }
h4 { font-size: 104%; }
h5 { font-size: 102%; }
h6 { font-size: 100%; }

h1, h2, h3, h4, h5, h6, p {
  //mix-blend-mode: difference; //INEFFECTIVE
}

header {

}

hgroup {

}

nav {
  display: block; //FALLBACK
}

section {
  display: block; //FALLBACK
  padding: var(--space);
  margin: auto;
  width: 100%;
  &[class*='fill'] {
    background: var(--col-theme) !important;
    color: var(--col-const-white) !important;
  }
  &[class*='tall'] { min-height: 100vh !important; }
  &[class*='wide'] { max-width: 100% !important; }
}
