address {

}

article, .article {
  display: block; //FALLBACK
}

aside, .aside {
  display: block; //FALLBACK
}

footer, .footer {
  display: block; //FALLBACK
  padding: var(--pad);
  margin: auto;
  max-width: var(--width-content);
}

h1, h2, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: var(--pad) auto;
  text-align: center;
}
h1 { font-size: 110%; }
h2 { font-size: 108%; }
h3 { font-size: 106%; }
h4 { font-size: 104%; }
h5 { font-size: 102%; }
h6 { font-size: 100%; }

h1, h2, h3, h4, h5, h6, p {
  //mix-blend-mode: difference; //INEFFECTIVE
}

header {

}

hgroup {

}

nav {
  display: block;
}

section {
  display: block; //FALLBACK
  padding: var(--pad);
  margin: auto;
  width: 100%;
  //max-width: var(--width-chars);
  &[class*='fill'] {
    background: var(--col-theme);
    color: var(--col-const-white);
  }
  &[class*='tall'] { min-height: 100vh; }
  &[class*='wide'] { max-width: 100%; }
}
