table {
  background: var(--col-theme);
  color: var(--col-white);
  padding: var(--space);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  margin: auto;
  overflow: auto;
}
caption {
  color: var(--col-black);
  margin-bottom: 0.5rem;
}

colgroup { }
col { }

thead { }
tbody { }
tfoot { }

tr:hover {
  background: var(--col-dark-theme);
}
th {
  font-weight: bold;
}
th, td {
  padding: var(--space);
}
td { }
