table {
  background: #FFF;
  padding: var(--space);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  overflow: auto;
  filter: drop-shadow(var(--shadow));
}
caption {
  font-style: italic;
}

colgroup { }
col { }

thead { }
tbody { }
tfoot { }

tr { }
th {
  font-weight: bold;
}
th, td {
  padding: var(--space);
  border-radius: var(--border-radius);
}
td { }
