a {
  color: inherit;
}
abbr, acronym {
  cursor: help;
  text-decoration: underline dotted;
  //text-transform: uppercase !important; //NOT ALL ABBREVIATIONS ARE UPPERCASE
}
blockquote, cite, q {
  font-style: italic;
  display: block;
  margin: var(--pad) auto;
  max-width: var(--width-chars);
  text-align: center;
  &::before { content: open-quote; }
  &::after { content: close-quote; }
}
code {
  font-family: "Courier New";
  background: var(--col-black);
  color: var(--col-white);
  display: inline;
  padding: var(--pad-inline);
  border-radius: 1px;
  white-space: pre;
}
data {

}
del, .deleted {
  background: var(--col-deleted);
  text-decoration: none;
  &::before { content: "[deletion start] "; }
  &::after { content: " [deletion end]"; }
}
details { }
dialog {
  background: var(--col-theme);
  display: block;
  position: static;
  padding: var(--pad);
  border: var(--border);
  margin: auto;
}
dl > dt { font-weight: bold; }
dl > dd { margin: 0 0 var(--pad) var(--pad-list); }
em, .emphasise, i, .italic { font-style: italic; }
.hide { display: none !important; }
hr {
  background: var(--col-black);
  padding: 0.1rem;
  border: 0;
  //border-bottom: var(--border);
  margin: var(--pad) auto;
}
ins, .inserted {
  background: var(--col-inserted);
  text-decoration: none;
  &::before { content: "[insertion start] "; }
  &::after { content: " [insertion end]"; }
}
kbd {
  background: var(--col-black);
  color: var(--col-white);
  display: inline;
  padding: var(--pad-inline);
  border-radius: 1px;
  box-shadow: 0 2px 0 0 var(--col-theme);
}
mark {
  background: var(--col-marked);
  &::before { content: "[highlight start] "; }
  &::after { content: " [highlight end]"; }
}
meter, progress {
  display: block;
  margin: var(--pad) auto;
  width: 100%;
}
meter {
  height: 2rem;
  &::-webkit-meter-bar {
    background: var(--col-black);
    border: 0;
    border-radius: var(--border-radius);
  }
  &::-webkit-meter-optimum-value {
    background: var(--col-theme);
  }
}
progress {
  appearance: none;
  &::-webkit-progress-bar {
    background: var(--col-black);
    border-radius: var(--border-radius);
  }
  &::-webkit-progress-value {
    background: var(--col-theme);
    border-radius: var(--border-radius);
  }
}
main {
  ol, ul {
    padding: 0;
    margin-left: calc(var(--pad) * 2);
  }
}
li {
  list-style-type: square;
  //margin-left: var(--pad-list);
}
p {
  margin: var(--pad) 0;
  max-width: var(--width-chars);
}


pre { display: block; }
progress { cursor: progress; }
s, .strike { text-decoration: line-through; &:hover { text-decoration: none; } }
samp { /*SAMPLE*/ }
script { display: none !important; }
summary {}
sub, .sub { font-size: var(--font-size-script); vertical-align: sub; }
sup, .sup { font-size: var(--font-size-script); vertical-align: super; }
time { font-weight: bold; }
var { font-style: italic; }
//p:first-letter { font-size: 200%; }
